<div class="row">
  <div class="col-lg-12">
    <h1>顧客情報一覧</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <p>お客様の情報が表示されます。</p>
  </div>
  <div class="col-lg-6">
    <%= link_to "顧客登録", new_client_path, class: "btn btn-info float-right mb-3"  %>
  </div>
</div>
<table class="table table-striped table-hover">
  <thead class="thead-dark">
    <th>姓</th>
    <th>名</th>
    <th>電子メール</th>
    <th>リンク</th>
    <th>所属会社</th>
    <th>リンク</th>
  </thead>
    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td><%= client.family_name %></td>
          <td><%= client.given_name %></td>
          <td><%= client.email %></td>
          <td><%= link_to '詳細', client, class: "btn btn-secondary btn-xs" %></td>
        </tr>
      <% end %>
    </tbody>
  <tbody>
  <%= paginate @clients %>